body, html{
  width:100%;
  height:100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.contAll{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin:5px;
}
.cube{
  width:30px;
  height:30px;
  margin:auto;
  background-color: gray;
  border-radius: 2px;
  margin:0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.success{
  background-color: green;
}
.cubeTXT{
  font-size: 20px;
  margin: auto;
  font-style: roboto;
}
.title{
  font-size: 5rem;
  font-family: roboto;
}
